body {
    font-family: 'Franklin Gothic Medium', sans-serif;
}

#map-id {
    height: 100vh;
}

/*leaflet overrides*/

.leaflet-popup {
    /*width: 500px;*/
}

.leaflet-popup-content {
    margin: 15px;
}

.leaflet-popup-content p {
    color: purple;
    font-size: 18px;
    margin: 2px 0;
    max-width: 275px;
}

