body {
    font-family: 'Franklin Gothic Medium', sans-serif;
}


h1 {
    font-size: 20px;
}

#map {
    display: inline-block;
    height: 100vh;
    width: 75%;
}

#panel {
    background: #71a3be;
    color: white;
    display: inline-block;
    height: 100vh;
    margin-left: -10px;
    padding: 20px;
    text-align: center;
    vertical-align: top;
    width: 20%;
}

#panel ol {
    font-size: 12px;
    text-align: left;
}

.range-slider {
    width: 75%;
}

input[type=range]{
    /*-webkit-appearance: none;*/
}


.sequence-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sequence-buttons {
    color: #71a3be;
    width: 100px;
}


/*leaflet overrides*/

.leaflet-popup-content {
    margin: 15px;
}

.leaflet-popup-content p {
    color: white;
    font-size: 18px;
    margin: 2px 0;
    max-width: 275px;
}

.leaflet-popup-content-wrapper {
    background: #71a3be;
    border-radius: 0;
}

