body {
    font-family: 'Marmelad', sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

a:hover, a:focus {
    color: salmon;
}

#panel button {
    font-family: 'Marmelad', sans-serif;
}

#map {
    height: 100vh;
    width: 100%;
}

#panel {
    background-color: rgba(255, 255, 255, .75);
    border: 1px solid gray;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
    color: #71a3be;
    display: none;
    max-height: 75vh;
    top: 80px;
    right: 45px;
    overflow: auto;
    padding: 10px 10px 0 10px;
    position: absolute;
    text-align: center;
    width: auto;
    z-index: 1000;
}

#cities-by-home-value {
    display: none;
}

#cities-list-container {
    font-size: 12px;
}

#panel-close {
    background: transparent;
    border: none;
    color: #71a3be;
    position: absolute;
    top: 12px;
    right: 8px;
}

#panel-close:hover {
    cursor: pointer;
    opacity: .8;
}

#panel-close:focus {
    color: salmon;
    outline: none;
}

.resizable-v {
    resize: vertical;
}

.draggable {
    position: absolute;
    z-index: 1000;
}

.draggable-handler {
    cursor: move;
    text-align: left;
    width: 50px;
}

.dragging {
    cursor: move;
    z-index: 9999;
}

.active-handle {
    cursor: move;
}

.mainHeader {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid gray;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
    color: #71a3be;
    left: 10px;
    margin: 10px auto;
    max-width: 70%;
    padding: 0 15px;
    position: fixed;
    z-index: 1000;
}

.mainHeader h1 {
    font-size: 14px;
    line-height: 1;
}

.mainHeader--dates,
.mainHeader--info {
    display: inline-block;
    font-style: italic;
    font-size: 12px;
}

.range-slider {
    width: 60%;
}

.sequence-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sequence-buttons {
    background: white;
    border-radius: 0;
    border: 1px solid transparent;
    box-shadow: 0 3px 14px rgba(0,0,0,0.2);
    color: #71a3be;
    width: 40px;
    margin: 3px;
}

.sequence-buttons:hover {
    border: 1px solid salmon;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
    cursor: pointer;
    opacity: .8;
}

.sequence-buttons:focus {
    border: 1px solid salmon;
    color: salmon;
}

.tab__container {
    display: flex;
    margin-top: 5px;
}

.tab__btn {
    background-color: lightgray;
    border: 2px solid transparent;
    color: darkgray;
    flex: 1;
    font-size: 12px;
    outline: none;
    padding: 5px 8px;
    transition: .4s;
}

.tab__btn:hover:not(.active) {
    opacity: .85;
    color: salmon;
}

.tab__btn:not(.active) {
    cursor: pointer;
}

.tab__btn.active {
    background-color: white;
    border-bottom: 2px solid salmon;
    color: #71a3be;
    font-weight: bold;
}

.tab__btn:focus {
    border-bottom: 2px solid salmon;
}

.tab__content {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    transition: .5s;
}

.legend-control-container {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid gray;
    color: #71a3be;
    line-height: 18px;
    padding: 14px;
    text-align: center;
    width: 200px;
}

.info-button-container {
    /*leaflet override*/
    font-size: 18px;
    text-align: center;
}

.info-button-container button {
    background-color: transparent;
    border: 1px solid transparent;
    color: #71a3be;
    outline: none;
    position: absolute;
    top: 12px;
    right: 6px;
}

.info-button-container button:hover {
    opacity: .8;
    cursor: pointer;
}

.info-button-container button:focus {
    color: salmon;
}

.legend-control-temporal-label {
    float: left;
    font-weight: bold;
    font-size: 14px;
    width: auto;
}

.leaflet-container {
    font-family: 'Marmelad', sans-serif;
}

.leaflet-popup-content {
    margin: 15px;
    text-align: center;
}

.leaflet-popup-content p {
    color: #71a3be;
    font-size: 10px;
    margin: 2px 0;
    max-width: 275px;
}

.tileLayer__text {
    color: #71a3be;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    border: 1px solid gray;
}

.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
    margin: 5px 10px;
}

.leaflet-control {
    border: 1px solid gray;
}

.leaflet-control-layers {
    border-radius: 0;
}

.leaflet-control-zoom {
    border-radius: 0;
}

.leaflet-popup-content-wrapper {
    background: white;
    border: 1px solid gray;
    border-radius: 0;
}

@media (min-height: 768px) {
    #panel {
        top: 90px;
    }
}

@media only screen and (min-width: 768px) {

    #cities-list-container {
        font-size: 16px;
    }

    #attribute-legend text {
        font-size: 14px;
    }

    .legend-control-temporal-label {
        font-size: 20px;
    }

    .mainHeader h1 {
        font-size: 26px;
        line-height: 1.2;
    }

    .mainHeader--dates {
        display: inline-block;
        font-style: italic;
        font-size: 20px;
    }

    .mainHeader--info {
        display: block;
        font-style: italic;
        font-size: 18px;
    }

    .tab__btn, .tab__content  {
        font-size: 14px;
    }

    .leaflet-popup-content p {
        color: #71a3be;
        font-size: 16px;
        margin: 2px 0;
        max-width: 275px;
    }

    .leaflet-container .leaflet-control-attribution,
    .leaflet-container .leaflet-control-scale {
        font-size: 14px;
    }



}

